version: '3.8'


services:
  database:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: madziarynka_pos
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./backend/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
  backend:
    build: ./backend
    restart: always
    depends_on:
      - database
    ports:
      - "3001:3001"
    volumes:
      - ./backend:/app
    env_file:
      - .env

volumes:
  postgres-data: